<%-include("./partials/header")-%>
<body>
    <div class="flex flex-col justify-center items-center h-screen gap-6">
        <h1 class="text-6xl">Index</h1>
        <button class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg"><a href="/login">Login</a></button>
        <button class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg"><a href="/signup">Signup</a></button>
    </div>
</body>
</html>