<%-include("./partials/header")-%>
<body>
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
        <!-- Sidebar -->
        <aside
          class="fixed flex flex-col top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
          aria-label="Sidenav"
          id="drawer-navigation"
        >
        <!-- Nav Items -->
          <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
            <ul class="space-y-2">
              <li>
                <a
                  href="/dashboard"
                  class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                  <span class="ml-3">Dashboard</span>
                </a>
              </li>
              <li>
                <a
                  href="/menu"
                  class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                  <span class="ml-3">Menu</span>
                </a>
              </li>
              <li>
                <a
                  href="/performances"
                  class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                  <span class="ml-3">Performances</span>
                </a>
              </li>
              <li>
                <a
                  href="/tasks"
                  class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                  <span class="ml-3">Tasks</span>
                </a>
              </li>
              <% if (user && user.type.includes('teacher')) { %>
                <li>
                  <a
                    href="/attendance"
                    class="inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600"
                  >
                    <span class="ml-3">Attendance</span>
                  </a>
                </li>
              <% } %>
              <% if (user && (user.type.includes('teacher') || user.type.includes('Budget Team'))) { %>
                <li>
                  <a
                    href="/budget"
                    class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                  >
                    <span class="ml-3">Budget</span>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
          <div class="py-5 px-3 bg-white dark:bg-gray-800">
            <ul class="space-y-2">
				<li>
					<a
						href="/auth/logout"
						class="flex items-center p-2 text-base font-medium text-red-800 rounded-lg dark:text-white hover:bg-red-800 hover:text-white dark:hover:bg-gray-700 group"
					>
						<span class="ml-3">Logout</span>
					</a>
				</li>
            </ul>
          </div>
        </aside>
    
        <!-- Main -->
        <main class="p-4 md:ml-64 h-auto pt-12">
            <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
                <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                    <!-- Heading -->
                    <div class="flex justify-between p-2 mb-2">
                        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Attendance</h1>
                    </div>
                    <!-- Table -->
                    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                        <div class="overflow-x-auto">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-4 py-3">Student ID</th>
                                        <th scope="col" class="px-4 py-3">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop over items and populate rows -->
                                    <% for(var i = 0; i < attendanceRecords.length; i++) {%>
                                        <tr class="border-b dark:border-gray-700">
                                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= attendanceRecords[i].StudentID %></th>
                                            <td class="px-4 py-3"><%= attendanceRecords[i].Status %></td>
                                            <td class="px-4 py-3 flex items-center justify-end">
                                                    <form action="/attendance/record" method="POST">
                                                        <input type="hidden" name="studentID" value="<%= attendanceRecords[i].StudentID %>">
                                                        <% if (attendanceRecords[i].Status == 'Absent') { %>
                                                            <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                                                Mark Present
                                                            </button>
                                                        <% } %>
                                                    </form>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </section>
        </main>
      </div>

      <!-- Flowbite JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>